:local(.styles) {
  width: 100%;
  color: #FFF;
  padding-bottom: 5px;
  padding-top: 10px;
  background-color: #080808;
  &:hover {
    background: rgba(0, 0, 0, .7);
  }

  a {
    color: #FFF;
  }

  .logo {

    a {
      font-weight: bold;
    }
  }
  
  nav {

    a {
      margin-right: 20px;
      
      &.active {
        font-weight: bold;
      }
    }
  }

  .btn-group, .m-t-xxs {
    margin-top: 9px;
  }
}
