:local(.styles) {
  $var: 500px;
  .graphMain {
    height: -moz-calc(100% - #{$var});
    height: -o-calc(100% - #{$var});
    height: -webkit-calc(100% - #{$var});
    height: calc(100% - #{$var});
    border: medium none;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
}
