:local(.styles) {
  -moz-user-select: none;
  background-color: #fff;
  bottom: auto;
  left: 15px;
  right: auto;
  top: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #4c4c4c;
  position: absolute;
  text-align: center;
  z-index: 10;

  div {
    -moz-user-select: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    cursor: pointer;
    height: 30px;
    width: 30px;
  }

  .graphZoomIncrementButton {
    border-radius: 5px 5px 0 0;
  }

  .graphZoomDecrementButton {
    border-radius: 0 0 5px 5px;
  }
}
